.banner2 {
    position: relative;
    margin: 0 4rem;
    align-self: center;
}

.bannerImg2 {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 2rem;
}

.bannerWrapper2 {
    height: 14rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    width: 100%;
}

.about_collapses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

.about_collapses_content {
    margin-bottom: 0.5rem;
    width: 80%;
}

@media(max-width: 768px) {
    .banner2 {
        margin: 0 1.5rem;
    }

    .about_collapses_content {
        width: 88%;
    }
}